@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Helvetica Now";
  src: url("/fonts/helvetica-now/helveticanowtext-black-demo.ttf") format("ttf"),
    format("truetype");
}

* {
  box-sizing: border-box;
}
